<!DOCTYPE html>
<html>
	<head>
		Forgot Password
	</head>
	</br>


	<body>
		Hello <%= @user.email %>. Here is the link to reset your password:
		</br>

		<%= link_to("Reset", @url) %>
	</body>
</html>