<h1>Forgot Password?</h1>

<form action="/users/send_reset_email" method="POST">
	<label for="email">Email</label>
	<input type="text" id="email" name="user[email]"></input>
	<input type="submit" value="Send Email">
</form>