RESET PAGE

<form action="reset_password" method="POST">
	<label for="user_email">Email</label>
	<input type="text" id="user_email" name="user[email]"></input>

	<input type="submit" value="RESET"></input>
</form>