<h1>Reset Password for <%= @user.email %></h1>

<form action="/users/<%=@user.id%>" method="POST">
	<input type="hidden" name="_method" value="PUT">

	<label for="password">Password</label>
	<input type="password" id="password" name="user[password]"></input>

	<input type="submit" value="Reset Password">
</form>