<h1>Reset Password</h1>

<form action="reset_password" method="POST">
	<label for="email">Email</label>
	<input type="text" id="email" name="user[email]"></input>
	<input type="submit" value="Send Email">
</form>